In [29]:
#string operations and functions
s="codegnan"
print(s)

codegnan

In [5]:
S1="CODE"
S2="GNAN"
S3=S1+" "+S2
print(S3)

CODE GNAN

In [10]:
S1="CODE"
print("z"+S1[1:])

zODE

In [17]:
S1="CODE"
print(S1*10)

CODECODECODECODECODECODECODECODECODECODE

In [16]:
s="code gnan"
print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())
print(s.swapcase())

CODE GNAN
code gnan
Code Gnan
Code gnan
CODE GNAN

In [22]:
s1="I am navya sri"
s1.find("navya")

5

In [28]:
s="@@@@@@@@code gnan@@@@@@@@@"
print(s.strip("@"))
print(s.lstrip("@"))
print(s.rstrip("@"))

code gnan
code gnan@@@@@@@@@
@@@@@@@@code gnan

In [35]:
s="@@@@@@@@code gnan@@@@@@@@@"
print(s.split())
print(s.split(" ")) 
print(s.split())

['@@@@@@@@code', 'gnan@@@@@@@@@']
['@@@@@@@@code', 'gnan@@@@@@@@@']
['@@@@@@@@code gnan@@@@@@@@@']

In [38]:
s="Navya1"
print(s.isdigit())
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())
print(s.islower())
print(s.isupper())

False
True
False
False
False
False

In [42]:
s="Navyasri@20"
valid_string="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789@_"
if len(s)>=8:
    if s[0].islower() or s[0].isupper():
        for i in range(1,len(s)):
            if s[i] not in valid_string:
                print("invalid username",s[i])
                break
        else:
            print(" valid username ")
        
        
    else:
        print("intial value is not upper nor lower")
else:
    print("invalid username")

 valid username

In [8]:
n=input("enter a string")
target=input("enter count variable")
count=0
for i in n:
    if i==target:
        count=count+1
print(count)

enter a string navya
enter count variable a

2

In [11]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [12]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [13]:
for i in range(1,10):
    if i==5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(1,10):
    if i==10:
        break
    print(i)
else:
    print("codedone")

1
2
3
4
5
6
7
8
9
codedone

In [39]:
def navya(a,b):
    c=a+b
    return(c)
obj=navya(1,2 )
print(obj)

3

In [31]:
n=int(input("enter a table number"))
for i in range(1,11):
    a=n*i
    print(n,"*",i,"=",a)

enter a table number 36

36 * 1 = 36
36 * 2 = 72
36 * 3 = 108
36 * 4 = 144
36 * 5 = 180
36 * 6 = 216
36 * 7 = 252
36 * 8 = 288
36 * 9 = 324
36 * 10 = 360

In [45]:
#simple calculator using functions
def addition(a,b):#parameters
    add=a+b
    return add
def subtraction(a,b):#parameters
    sub=a-b
    return sub
def multiplication(a,b):#parameters
    mul=a*b
    return mul
def division(a,b):#parameters
    div=a/b
    if b==0:
        return "ZERO DIVISION ERROR"
    return div  
obj1=addition(1,2)#arguments
obj2=subtraction(3,4)
obj3=multiplication(5,6)
obj4=division(7,8)
print(obj1)
print(obj2)
print(obj3)
print(obj4)

3
-1
30
0.875

In [46]:
def addition(a,b):#parameters
    add=a+b
    return add
def subtraction(a,b):#parameters
    sub=a-b
    return sub
def multiplication(a,b):#parameters
    mul=a*b
    return mul
def division(a,b):#parameters
    div=a/b
    if b==0:
        return "ZERO DIVISION ERROR"
    return div  
if __name__=="__main__":
    print("welcome to simple calculator")
    n1=int(input("enter a number1"))
    n2=int(input("enter a number2"))
    print("click 1 for addition \n click 2 for subtraction \n click 3 for multiplication \n click 4 for division")
    choice=int(input("enter your choice"))
    if choice==1:
        print(" addition of 2 numbers",addition(n1,n2))
    elif choice==2:
        print(" subtraction of 2 numbers",subtraction(n1,n2))  
    elif choice==3:
        print("multiplication of 2 numbers",multiplication(n1,n2))  
    elif choice==4:
        print(" division of 2 numbers",division(n1,n2))  
    else:
        print("enter valid choice")

welcome to simple calculator

enter a number1 1
enter a number2 2

click 1 for addition
 click 2 for subtraction
 click 3 for multiplication
 click 4 for division

enter your choice 4

 division of 2 numbers 0.5

In [1]:
n=input("enter a string")
count=0
for i in n:
    count+=1
print(count)

enter a string navya

5

In [9]:
def even_or_odd(n):
    if n%2==0:
        return "even"
    else:
        return "odd"

obj=even_or_odd(10)
print(obj)

even

In [12]:
def subtraction(n1,n2):
    res=n1-n2
    return res
a=int(input())
b=int(input())
print(subtraction(a,b))
print(subtraction(b,a))
#positional arguments

 2
 3

-1
1

In [16]:
import calendar
year=int(input())
print(calendar.calendar(year))

 2005

                                  2005

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [26]:
#unique elements
lst=[1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9]
n=[]
for i in lst:
    if lst[i] not in n:
        n.append(i)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [25]:
lst=[1,2,3,[1,2,3]]
a=lst[3]
print(a[2])
   #or
print(lst[3][2])

3
3

In [30]:
lst=[1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9]
n=[]
for i in lst:
    if lst.count(i)==1:
    print(i)

IndentationError: expected an indented block after 'if' statement on line 4 (1522019785.py, line 5)

In [35]:
lst=[1,2,3,4,5]
n=[]
for i in lst:
    if i%2==0:
        n.append(i+0.5)
    else:
        n.append(i+1)
print(n)

[2, 2.5, 4, 4.5, 6]